.condo-view{
	width: 100%;
	display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  .payments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .titles-container{
      margin-top: 1rem;
      width: 90%;
      display: flex;

      .description{
        width: 37%;
        color: #6666C5;
      }

      .amount{
        width: 26%;
        color: #6666C5;
        text-align: center;
      }

      .total{
        width: 28%;
        color: #6666C5;
        text-align: center;
      }
    }

    .payments-cards-container{
      width: 90%;
      min-height: 1rem;
      max-height: 23rem;

      .details-card{
        display: flex;
        min-height: 3rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;

        .description-container{
          width: 37%;
        }

        .amount-container{
          width: 26%;
          text-align: center;
        }

        .total-amount-container{
          width: 28%;
          text-align: center;
        }

        .options-container{
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;

          .more-options{
            width: 1.5rem;
          }
        }
      }
    }

    .add-more-payments-container{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;

      .add-more-payments-button{
        background: #EC4848;
        width: 2rem;
        height: 2rem;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 9px 12px -4px #8e8e8e;
      }
    }

    .publish-button-container{
      width: 90%;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .publish-button{
        background: #EC4848;
        width: 30%;
        height: 2.5rem;
        color: white;
        border-radius: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0px 9px 12px -4px #8e8e8e;
      }
    }
  }

  .logout-container{
    position: absolute;
    top: 1rem;
    right: 1rem;

    .logout-img{
      width: 2rem;
    }
  }

	.title-page{
		width: 90%;
    font-size: 20px;
    margin-top: 20px;
    color: #4c4c4c;
    font-weight: bold;
	}

  .subtitle-page{
    width: 90%;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    font-style: italic;
  }

  .graph-container{
    width: 90%;
    height: 10rem;
    margin-bottom: 10px;
    background: white;
    -webkit-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
    -moz-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
    box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
  }

	.list-container{
		overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

		.card{
      width: 80%;
      display: flex;
      flex-shrink: 0;
      height: 6rem;
      padding: 10px;
      margin-bottom: 2rem;
      background: white;
      -webkit-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
      -moz-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
      box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);

			.avatar-container{
        height: 100%;
        margin-right: 10px;

				.avatar{
					background-image: url(http://via.placeholder.com/100x100);
          width: 5rem;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
				}
			}

			.content{
        flex: 1;

        .name{
          font-size: 20px;
          color: #769a3f;
        }

        .text-condo-container{
          display: flex;
          align-items: center;

          .icon-condo-container{
            margin-right: 3px;

            .condo-info-icon{
              width: 1.4rem;
            }
          }

          .text-condo{
            font-size: 15px;
          }
        }
			}

      .actions-container{
        display: flex;
        flex-direction: column;
        width: 2rem;
        justify-content: center;

        .actions-icon{
          width: 2em;
        }
      }
		}

    .admin-card{
      width: 80%;
      display: flex;
      flex-shrink: 0;
      min-height: 3rem;
      padding: 10px;
      margin-bottom: 2rem;
      background: white;
      -webkit-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
      -moz-box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);
      box-shadow: 4px 4px 12px -4px rgba(0,0,0,1);

      .content-admin-card{
        flex: 1;

        .line-content{
          display: flex;
          align-items: center;
          margin-bottom: 4px;

          .name-admin-card{
            font-size: 20px;
            color: #769a3f;
          }

          .icon-admin-card{
            width: 1rem;
          }

          .text-admin-card{
            margin-left: 5px;
          }
        }

        .line-content:last-child{
          margin-bottom: 0px;
        }
      }
    }
	}
  .add-condo{
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    background: #c1946a;
    border-radius: 35px;
    padding: 10px;
    -webkit-box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);
    box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);

    .add-condo-img{
      width:2rem;
    }
  }

  .add-admin-account{
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    background: #c1946a;
    border-radius: 35px;
    padding: 10px;
    -webkit-box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);
    box-shadow: 0px 9px 12px -4px rgba(0,0,0,1);

    .add-admin-img{
      width:2rem;
    }
  }

  .top-menu-container{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 53%;

    .info-account-container{
      position: absolute;
      top: 5rem;
      right: 1rem;
      background: #EC4848;
      border-radius: 35px;
      padding: 10px;
      -webkit-box-shadow: 0px 9px 12px -4px #8e8e8e;
      -moz-box-shadow: 0px 9px 12px -4px #8e8e8e;
      box-shadow: 0px 9px 12px -4px #8e8e8e;

      .account-info-img{
        width:2rem;
      }
    }

    .title-page{
      width: 90%;
      font-size: 20px;
      margin-top: 20px;
      color: #4c4c4c;
      font-weight: bold;
      display: none;
    }

    .info-condoadmin-container{
      width: 90%;
      font-size: 16px;
      margin-bottom: 0px;
      color: #4c4c4c;
      display: flex;
      align-items: flex-end;

      .img-condo-condoadmin-container {
        height: 2.4rem;
        width: 2.4rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../assets/imgs/house.svg);
        margin-right: 3px;
      }

      .img-address-condoadmin-container {
        height: 1.5rem;
        width: 1.5rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../assets/imgs/sign-post-color.svg);
        margin-right: 5px;
        margin-left: 9px;
      }

      .info-text-condoadmin-container {
        text-align: left;
        width: 100%;
        font-size: 18pt;
        font-weight: 700;
        color: #222330;
      }

      .info-text-condoadmin-container-address {
        text-align: left;
        width: 100%;
        font-size: 14pt;
        font-weight: 500;
      }
    }

    .graph-condo-admin-container{
      width: 85%;
      height: 11rem;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 4px;
      margin-top: 5px;
      box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.05);
    }
  }

  .menu-container{
    background-color: #686881;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-container{
      width: 6em;
      height: 6em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image-button-container{
        height: 5rem;
        width: 4rem;
        margin-bottom: 2px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .visits{
        background-image: url(../assets/imgs/visits.svg);
      }

      .news{
        background-image: url(../assets/imgs/newspaper-folded.svg);
      }

      .package{
        background-image: url(../assets/imgs/package-admin.svg);
      }

      .transfer-info{
        background-image: url(../assets/imgs/cheque.svg);
      }

      .text-button-container{
        text-transform: uppercase;
        color: white;
        text-align: center;
      }
    }

    .left-menu-container{
      border-right: 1px solid white;
      height: 85%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .visits-button-container{
        height: calc(50% - 1px);
        width: 80%;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .news-button-container{
        height: 50%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .right-menu-container{
      height: 90%;
      width: 50%;
      display: flex;
      flex-direction: column;

      .packages-button-container{
        height: calc(50% - 1px);
        width: 80%;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .transfer-info-button-container{
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .visits-cards-container{
    margin-top: 15%;
    width: 90%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-visits-container{
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .visit-card:last-child{
      margin-bottom: 5px;
    }

    .visit-card{
      width: 95%;
      margin-bottom: 20px;
      height: 7rem;
      box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.3);

      .containers{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .left-container{
          width: 75%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .line-container{
            width:90%;
            height: 1.4rem;
            display: flex;
            align-items: center;

            .name{
              font-size: 18px;
              color: #292945;
            }

            .rut{
              color: #292945;
            }

            .plate{
              color: #292945;
            }

            .icon-copro{

              .icon{
                width: 1rem;
              }
            }
          }
        }

        .right-container{
          flex: 1;
          background: #292945;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .icon-car-container{

            .icon{
              width: 3rem;
            }
          }

          .button-container{

            .button-visit{
              background: #EC4848;
              border: none;
              color: white;
              border-radius: 5px;
              width: 4rem;
              height: 1.4rem;
            }
          }
        }
      }
    }
  }
  .add-package-container{
    position: fixed;
    background: #EC4848;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 30px;
    bottom: 0.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-package{
      width: 1.5rem;
    }
  }

  .packages-cards-container{
    margin-top: 15%;
    width: 90%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-packages-container{
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .package-card{
      width: 95%;
      margin-bottom: 20px;
      height: 7rem;
      box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.3);
      display: flex;
      flex-shrink: 0;

      .containers{
        width: 100%;
        height: 100%;
        display: flex;

        .package-left{
          width: 75%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: white;

          .copropietary-container{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;

            .copropietary{
              width: 90%;
              font-size: 18px;
              color: #292945;
            }
          }

          .state-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .state{
              width: 90%;
              color: #EC4848;
            }
          }

          .description-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .description{
              width: 90%;
            }
          }

          .info-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .line-container{
              display: flex;
              align-items: center;
              width: 90%;

              .icon-container{
                display: inline-block;
                margin-right: 5px;

                .icon{
                  width: 1rem;
                }
              }

              .name{

              }
            }
          }
        }

        .package-right{
          flex: 1;
          background: #292945;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .icon-package{
            width: 3rem;

            .icon{
              width: 3rem
            }
          }

          .button-container{

            .button-package{
              background: #EC4848;
              border: none;
              color: white;
              border-radius: 5px;
              width: 4rem;
              height: 1.4rem;
            }
          }
        }
      }
    }
  }

  .news-cards-container{
    margin-top: 15%;
    width: 90%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-news-container{
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .news-card{
      width: 90%;
      height: auto;
      flex-shrink: 0;
      margin-bottom: 20px;
      box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .title-container{
        height: 3.5rem;
        background: #292945;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;

        .title{
          color: white;
          width: 90%;
          font-size: 20px;
        }
      }

      .image-container{
        width: 100%;
        height: 5rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../assets/imgs/news-placeholder.jpeg);
      }

      .message-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .message{
          width: 90%;
          text-align: justify;
          color: #4c4c4c;
        }
      }

      .date-container{
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .date{
          width: 90%;
          text-align: right;
          font-size: 14px;
          color: #4c4c4c;
          font-style: italic;
        }
      }

      .trash-container{
        display: flex;
        align-items: center;
        width: 2rem;
        margin-left: 0.6rem;
        height: 2rem;

        .trash{
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  .add-news-container{
    position: fixed;
    background: #EC4848;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 30px;
    bottom: 0.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .add-news{
      width: 2rem;
    }
  }

  .news-container-view{
    width: 100%;
    height: 100%;

    .top-news-container{
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .title{

      }

      .add-new-container{
        
      }
    }
  }
}

.custom-transfer-info-modal{
  width: 85%;
  height: 65%;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;

  .modal-container{
    width: 100%;
    height:100%;

    .title-response-container{
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 23px;
        color: #292945;
      }
    }

    .details-titles{
      display: flex;

      .description{
        width: 40%;
        color: #6666C5;
      }

      .amount{
        width: 30%;
        text-align: center;
        color: #6666C5;
      }

      .amount-copro{
        width: 30%;
        text-align: center;
        color: #6666C5;
      }
    }

    .details-container{
      max-height: 15rem;
      overflow: scroll;

      .detail-container{
        display: flex;
        min-height: 4rem;
        align-items: center;
        border-bottom: 1px solid #d8d8d8;

        .description{
          width: 40%;
          color: #4c4c4c;
        }

        .amount{
          width: 30%;
          text-align: center;
          color: #4c4c4c;
        }

        .amount-copro{
          width: 30%;
          text-align: center;
          color: #4c4c4c;
        }
      }
    }

    .form-payment-container{
      height: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .form-line{

        .line-text{

        }

        .select-custom{
          width: 97%;
          font-size: 15px;
          border: 1px solid #c5c5c5;
          margin-top: 5px;
          margin-bottom: 5px;
          height: 2rem;
        }
      }
    }

    .title-wizard-response{
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 28px;
        text-align: center;
      }
    }

    .title-wizard{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 28px;
        text-align: center;
      }
    }

    .check-container{
      height: 70%;
      width: 100%;

      .check-line{
        display: flex;
        height: 14%;
        width: 100%;
        font-size: 14px;
        color: #333359;

        .check-static{
          width: 27%;
          display: flex;
          align-items: center;
        }

        .check-dynamic{
          flex: 1;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          color: #4c4c4c;
        }
      }
    }

    .list-container{
      max-height: 51%;
      overflow: scroll;

      .add-parking-type-form-container{
        display: flex;
        height: 9rem;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 0.5px solid #e2e2e6;
        border-radius: 8px;
        margin-bottom: 1rem;

        .inputs-container{
          width: 82%;

          .input-text{
            margin-top: 2px;
            margin-bottom: 5px;

            .error-text{
              font-size: 13px;
              color: red;
              font-style: italic;
            }
          }

          .input-form{
            width: 96%;
            height: 1rem;
            font-size: 14px;
            padding-top: 5px;
            border: 1px solid #c5c5c5;
            padding-bottom: 5px;
            padding-left: 5px;
          }
        }

        .trash-container{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          .trash{
            width: 1.5rem;
          }
        }
      }

      .add-storage-form-container{
        display: flex;
        height: 9rem;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 0.5px solid #e2e2e6;
        border-radius: 8px;
        margin-bottom: 1rem;

        .inputs-container{
          width: 82%;

          .input-text{
            margin-top: 2px;
            margin-bottom: 5px;

            .error-text{
              font-size: 13px;
              color: red;
              font-style: italic;
            }
          }

          .input-form{
            width: 96%;
            height: 1rem;
            font-size: 14px;
            padding-top: 5px;
            border: 1px solid #c5c5c5;
            padding-bottom: 5px;
            padding-left: 5px;
          }
        }

        .trash-container{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          .trash{
            width: 1.5rem;
          }
        }
      }
    }

    .form-container{
      height: 85%;
      overflow: scroll;

      .form-line{
        height: auto;
        margin-bottom: 10px;

        .line-text{
          margin-bottom: 5px;

          .error-text{
            font-size: 13px;
            color: red;
            font-style: italic;
          }
        }

        .input-form{
          width: 97%;
          height: 1rem;
          font-size: 14px;
          padding-top: 5px;
          border: 1px solid #c5c5c5;
          padding-bottom: 5px;
          padding-left: 5px;
        }
      }
    }

    .message-successful-container{
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      .message{
        font-size: 30px;
      }
    }

    .title-container{
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 23px;
        color: #292945;
      }
    }

    .line-container{
      height: 13%;
      display: flex;

      .static-info-container{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .static-info{
          color: #333359;
          font-size: 18px;
        }
      }

      .dinamic-info-container{
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .dinamic-info{
          font-size: 18px;
          color: #4c4c4c;
          width: 85%;
        }

        .input-container{
          height: 100%;
          width: 85%;
          display: flex;
          align-items: center;

          .input-form{
            font-size: 17px;
            border: 1px solid gray;
            width: 90%;
            color: #4c4c4c;
          }
        }
      }
    }

    .button-container-edit{
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .button-edit-ok{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EC4848;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 40%;
      }

      .button-edit{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 40%;
      }
    }

    .button-container-save{
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      .button{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 50%; 
      }
    }

    .button-container{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .button{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 50%;
      }

      .button-add{
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 2.5rem;
        width: 2.5rem;
        font-size: 35px;
      }
    }

    .jump-button-container{
      position: absolute;
      bottom: 10px;
      width: 88%;
      display: flex;
      justify-content: flex-end;

      .jump-button{
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 2rem;
        width: auto;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;

        .jump-icon{
          width: 1rem;
        }
      }
    }
  }
}

.custom-package-modal{
  width: 85%;
  height: 60%;
  padding: 1.2rem;

  .modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titles-container{
      display: flex;
      height: 3rem;
      justify-content: center;
      align-items: center;
      width: 100%;

      .description{
        width: 60%;
        font-size: 21px;
        color: #6666C5;
      }

      .amount{
        width: 40%;
        font-size: 21px;
        color: #6666C5;
      }
    }

    .details-container{
      max-height: 70%;
      min-height: 70%;
      width: 100%;
      overflow: scroll;

      .detail-line{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;

        .description{
          width: 60%;
        }

        .amount{
          width: 40%;
        }
      }
    }

    .message-bottom{
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 11px;
      text-align: center;
      color: #adadad;
    }
  }

  .modal-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-container{
      height: 20%;
      display: flex;
      align-items: center;

      .title{
        font-size: 24px;
        text-align: center;
      }
    }

    .sub-title-container{
      height: 20%;

      .sub-title{
        text-align: center;
      }
    }

    .buttons-container{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .button{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 40%;
      }
    }
  }

  .package-modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title-container{
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 27px;
      }

      .sub-title{
        font-size: 20px;
        margin-top: 5px;
      }
    }

    .sub-title-container{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .sub-title{
        font-size: 20px;
      }
    }

    .form-line{
      height: auto;
      margin-bottom: 10px;

      .line-title{
        margin-bottom: 5px;
      }

      .input-form{
        width: 97%;
        height: 1rem;
        font-size: 14px;
        padding-top: 5px;
        border: 1px solid #c5c5c5;
        padding-bottom: 5px;
        padding-left: 5px;
      }

      .text-area-form{
        width: 97%;
        font-size: 14px;
        border: 1px solid #c5c5c5;
        padding-left: 5px;
      }
    }

    .icon-package-modal{
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon{
        width: 6rem;
      }
    }

    .next-button-container{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .next-button{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 50%;
      }
    }
  }

  .detail-payment-modal{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .detail-line{
      width: 90%;
      display: flex;
      height: 3rem;
      align-items: center;

      .static{
        width: 35%;
      }

      .dynamic{
        width: 60%;
      }
    }

    .buttons-container{
      width: 90%;
      display: flex;
      justify-content: space-around;
      margin-top: 3rem;

      .edit-button-container{

        .edit-button{
          background: #EC4848;
          width: 5rem;
          height: 2rem;
          color: white;
          border-radius: 10px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          box-shadow: 0px 9px 12px -4px #8e8e8e;
        }
      }

      .delete-button-container{

        .delete-button{
          background: #EC4848;
          width: 5rem;
          height: 2rem;
          color: white;
          border-radius: 10px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          box-shadow: 0px 9px 12px -4px #8e8e8e;
        }
      }
    }
  }

  .add-payment-modal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-container-confirmation{
      height: 20%;
      text-align: center;
      display: flex;
      align-items: center;

      .title{
        font-size: 22px;
      }
    }

    .sub-title-container{
      display: flex;
      text-align: center;
      height: 20%;

      .sub-title{
        font-size: 17px;
      }
    }

    .buttons-container{
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .button{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF6B6B;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 40%;
      }

      .button-confirmation{
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EC4848;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
        height: 3rem;
        width: 40%;
      }
    }

    .title-container{
      height: 20%;
      text-align: center;

      .title{
        font-size: 20px;
      }
    }

    .title-response-container{
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 25px;
      }
    }

    .form-line{

      .static{

      }

      .input-form{
        width: 97%;
        height: 1rem;
        font-size: 14px;
        padding-top: 5px;
        border: 1px solid #c5c5c5;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .button-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;

      .save-button{
        background: #EC4848;
        width: 8rem;
        height: 2.5rem;
        color: white;
        border-radius: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        box-shadow: 0px 9px 12px -4px #8e8e8e;
      }
    }
  }
}