// Purple colors
$light-purple: #6666c8;
$faded-purple: #686882;
$dark-purple: #30305a;
$very-dark-purple: #242444;
$obscure-purple: #222230;

// Gray shades
$white: #f0f0f0;
$gray: #a8a8a8;
$dark-gray: #787878;

// Orange shades
$light-orange: #ff6b6b;
$orange: #ff4646;

