$z-index-always-front: 5000;
$z-index-alert: 500;
$z-index-full-screen: 400;
$z-index-loading: 300;
$z-index-modal: 200;
$z-index-input: 100;
$z-index-layer4: 40;
$z-index-layer3: 30;
$z-index-layer2: 20;
$z-index-layer1: 10;
