@import 'reset';
@import 'colors';
@import 'elevation';
@import 'queries';

/*
///////////////////////////////////////////
            YOUR OWN MODULES              |
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
@import 'UI/input';
@import 'UI/buttons';
@import 'UI/top-bar';
@import 'UI/tab-bar';
@import 'UI/tab-bar-condo';
@import 'UI/tab-bar-admin-copro';
@import 'UI/tab-bar-admin-notifications';
@import 'UI/tab-bar-copro-notifications';
@import 'Admin/admin';
@import 'Copropietary/blackboard-card';
@import 'Copropietary/copropietary';
@import 'Copropietary/package-card';
@import 'Copropietary/complaint-card';
@import 'auth/auth-main';
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Roboto');



/*
///////////////////////////////////////////
            END OF YOUR MODULES           |
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/

html {
  *:not(input):not(textarea) {
   -webkit-user-select: none; /* disable selection/Copy of UIWebView */
   -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  }
}

body *{
	font-family: 'Rubik', sans-serif;
  paddingTop: 40px,
}
