.auth-page {
  width: 100vw;
  height: 100vh;
  background-color: $obscure-purple;

  .auth-header {
    height: 47%;
    width: 100%;
    background-image: url(../assets/imgs/login-background.jpg);
    background-repeat:no-repeat;
    background-size: 250%;
    background-position: center;

    .logo-overlay {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: linear-gradient(to top, $obscure-purple 0%, rgba($obscure-purple, 0.75) 100%);
      border-top: 1px solid $obscure-purple;

      .logo {
        height: 13rem;
        width: 13rem;
        background-image: url(../assets/imgs/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }

  .form-container{
    height: 40%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
  }
}
