.blackboard-card-list{
	width: 100%;
	height: calc(100% - 15px);
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;

	.no-blackboards-container{
		width: 90%;
	}

	.blackboard-card{
		width: 90%;
		height: auto;
		display: flex;
		flex-direction: column;
		background: white;
		flex-shrink: 0;
		margin-bottom: 20px;
		border-radius: 5px;
		box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

		.image-service-container{
			width: 100%;
			height: 6rem;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../assets/imgs/food.jpeg);
		}

		.body-container{
			flex: 1;
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;
			margin-top: 10px;

			.category-container{
				width: 90%;

				.category{
				    text-transform: uppercase;
					color: #9A7EBC;
				}
			}

			.title-container{
				width: 90%;
				margin-bottom: 7px;

				.title{
				    font-size: 20px;
					color: #B9929F;
				}
			}

			.message-container{
				width: 90%;

				.message{
					color: #525252;
					text-align: justify;
				}
			}

			.published-by-container{
				width: 90%;
				height: 3rem;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.profile-pic-container{
					width: 2rem;
					height: 2rem;
					margin-right: 5px;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url(../assets/imgs/user-placeholder.svg);
				}

				.published-by-name{
					font-size: 14px;
					color: #6f6f6f;
				}
			}
		}
	}

	.add-card-blackboard-container{
		position: absolute;
		bottom: 4rem;
		right: 1rem;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50px;
		background: #FF6B6B;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

		.icon{
			width: 1.8rem;
			margin-left: 5px;
		}
	}
}

.custom-blackboard-modal{
	width: 85%;
	height: 60%;
	padding: 1.2rem;

	.add-blackboard-container{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.title{
			font-size:27px;
		}

		.sub-title{
			font-size: 20px;
			margin-bottom: 20px;
		}

		.icon-blackboard{
			margin-bottom:3rem;
			margin-top: 3rem;

			.icon-services{
				width: 4rem;
			}
		}

		.form-line{
			width: 100%;
			margin-top: 5px;

			.line-title{
				margin-bottom: 5px;
			}

			.input-form{
			    width: 97%;
				height: 1rem;
				font-size: 14px;
				padding-top: 5px;
				border: 1px solid #c5c5c5;
				padding-bottom: 5px;
				padding-left: 5px;
			}

			.text-area-form{
				width: 97%;
				font-size: 14px;
				border: 1px solid #c5c5c5;
				padding-left: 5px;
			}
		}

		.next-button-container{
			height: 4rem;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.next-button{
				width: 50%;
				height: 3rem;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #FF6B6B;
				color: white;
				box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
			}
		}
	}
}