.complaint-card-list{
	width: 100%;
	height: calc(100% - 15px);
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;

	.complaint-card{
		width: 90%;
		height: auto;
		background: white;
		box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
		margin-bottom: 20px;

		.category-container{
			background: #292945;
			height: 2rem;
			display: flex;
			justify-content: center;
			align-items: center;

			.category{
			    color: #F1F1F1;
    			width: 90%;
			}
		}

		.info-member-container{
		    background: white;
			display: flex;
			justify-content: center;
			align-items: center;

			.info-member{
			    width: 95%;
				display: flex;
				align-items: center;
				height: 3rem;
				justify-content: center;

				.profile-pic-container{
					width: 2rem;
					height: 2rem;
					margin-right: 5px;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					background-image: url(../assets/imgs/user-placeholder.svg);
				}
			}

			.name-container{

				.name{
				    color: #4c4c4c;
				}
			}
		}

		.message-container{
		    background: white;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin-top: 0px;
		    margin-bottom: 10px;

			.message{
				width: 90%;
				text-align: justify;
				color: #4c4c4c;
			}
		}

		.votes-container{
			height: 2rem;
			background: #292945;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #F1F1F1;

			.count{
			    width: 2rem;
				display: flex;
				justify-content: center;
			}
			
			.votes-class{
		    	height: 1.5rem;
			}

			.vote-up{
				width: 2rem;
				display: flex;
				justify-content: center;
			}

			.vote-down{
			    width: 2rem;
				display: flex;
				justify-content: center;
			}
		}
	}

	.add-complaint-container{
		position: absolute;
		bottom: 4.5rem;
		right: 1rem;
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50px;
		background: #FF6B6B;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

		.icon{
			width: 1.8rem;
			margin-left: 5px;
		}
	}
}

.custom-complain-modal{
	width: 85%;
	height: 60%;
	padding: 1.2rem;

	.complaint-modal-container{
		width: 100%;
		height: 100%;
	    display: flex;
		flex-direction: column;

		.title-container{
		    height: 45%;
			display: flex;
			justify-content: center;
			align-items: center;

			.title{
				font-size: 27px;
			}
		}

		.sub-title-container{
			height: 20%;
			display: flex;
			justify-content: center;
			align-items: center;

			.sub-title{
				font-size: 20px;
			}
		}

		.icon-complaint{
			width: 100%;
			height: 30%;
			display: flex;
			align-items: center;
			justify-content: center;
			.icon{
				width: 6rem;
			}
		}

		.form-line{
			height: auto;
			margin-bottom: 10px;

			.line-title{
				margin-bottom: 5px;
			}

			.input-form{
				width: 97%;
				height: 1rem;
				font-size: 14px;
				padding-top: 5px;
				border: 1px solid #c5c5c5;
				padding-bottom: 5px;
				padding-left: 5px;
			}

			.text-area-form{
				width: 97%;
				font-size: 14px;
				border: 1px solid #c5c5c5;
				padding-left: 5px;
			}
		}

		.next-button-container{
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			.next-button{
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #FF6B6B;
				color: white;
				box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
				height: 3rem;
				width: 50%;
			}
		}
	}
}