.copropietary-view{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $faded-purple;

	.transfer-info-button{
		position: absolute;
	    bottom: 4rem;
	    right: 1rem;
	    width: 3.5rem;
	    height: 3.5rem;
	    border-radius: 50px;
	    background: #FF6B6B;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

	    .icon{
	    	width: 2.4rem;
	    }
	}

	.active-payment-container{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 33%;
	    border-bottom: 1px dotted #c1bac3;
	    align-items: center;

	    .refresh-button{
    	    margin-bottom: 10px;
		    background: #333359;
		    width: 60%;
		    color: white;
		    height: 2rem;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 6px;
	    }

	    .active-payment-card{
    	    width: 85%;
		    background: white;
		    height: 7rem;
		    display: flex;
		    flex-direction: column;
		    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);

		    .active-card-top-container{
	    	    align-items: center;
			    background: #292945;
			    border: 1px solid #292945;
			    height: 1.5rem;
			    display: flex;
			    justify-content: center;

			    .month{
			    	color: white;
    				width: 90%;
			    }
		    }

		    .message-container{
	    	    display: flex;
    			flex: 1;

    			.left-container{
				    width: 66%;
				    display: flex;
				    flex-direction: column;
				    align-items: center;
				    justify-content: center;

				    .message{
						width: 85%;
					    font-size: 18px;
					    margin-bottom: 5px;
				    }

				    .sub-message{
					    width: 85%;
    					font-size: 12px;
				    }

				    .amount{
				    	width: 90%;
				    	color: #6666C5;
				    	font-size: 17px;
				    }
    			}

    			.right-container{
    				flex: 1;
				    display: flex;
				    justify-content: center;
				    align-items: center;

				    .exclamation{
				    	width: 3rem;
				    }

				    .button{
				    	text-align: center;
					    background: #FF6B6B;
					    color: white;
					    height: 3rem;
					    width: 80%;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    border-radius: 8px;
					    font-size: 17px;
				    }
    			}
		    }
	    }
	}

	.historic-payments-container{
		width: 100%;
		flex: 1;
		overflow: scroll;
		margin-top: 2rem;
	    display: flex;
    	justify-content: center;

		.historic-payment-card{
			width: 85%;
		    background: white;
		    height: 7rem;
		    display: flex;
		    flex-direction: column;
		    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);

		    .top-container{
		    	align-items: center;
			    background: #292945;
			    border: 1px solid #292945;
			    height: 1.5rem;
			    display: flex;
			    justify-content: center;

			    .month{
				    width: 90%;
    				color: white;
			    }
		    }

		    .message-container{
		    	flex: 1;
		    	display: flex;

		    	.left-container{
					width: 75%;
				    display: flex;
				    flex-direction: column;
				    align-items: center;
				    justify-content: center;

				    .message{
				    	width: 90%;

				    	.top-message{
				    		color: #6666C5;
    						font-size: 17px;
				    	}

				    	.amount{
				    		font-size: 20px;
				    	}
				    }
		    	}

		    	.right-container{
					flex: 1;
					display: flex;
					justify-content: center;
					align-items: center;

					.exclamation{
						width: 3rem;
					}
		    	}
		    }
		}

		.no-cards{
			width: 100%;
		    height: 100%;
		    display: flex;
		    justify-content: center;
		    align-items: center;

		    .message{
		    	text-align: center;
			    background: #292945;
			    width: 75%;
			    height: 3rem;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    color: white;
			    border-radius: 5px;
		    }
		}
	}

	.summary-container{
		width: 100%;
		background: $white;
		height: 20rem;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;

	    .name-copropietary-container{
	    	width: 90%;
				margin-bottom: 5px;
				color: $obscure-purple;
	    }

		.summary-card{
		    width: 90%;
		    height: 70%;

		    .carousel .slide{
				background: none !important;
		    }

		    .carousel .control-dots{
		    	position: initial !important;
		    }

		    .carousel .control-dots .dot{
				box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) !important;
				background: white !important;
				width: 10px !important;
				height: 10px !important;
		    }

		    .card-carousel{
				width: 100%;
				height: 13em;
				border: 1px solid #d0d0d0;
				border-radius: 5px;
				background: white;

				.payment-card{
					width: 100%;
					height: 100%;
					display: flex;

					.payment-card-no-debt{
					    width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						.message{
							font-size: 18pt;
   							margin-bottom: 10px;
						}

						.icon-container{
							width: 4rem;
						}
					}

					.left-container-pay{
						display: flex;
					    justify-content: center;
					    align-items: center;
					    width: 65%;

					    .message{
					    	font-size: 18px;
    						width: 90%;
					    }
					}

					.right-container-pay{
						flex: 1;
					    display: flex;
					    justify-content: center;
					    align-items: center;

					    .exclamation{
				    	    width: 6rem;
					    }
					}

					.left-container{
						width: 65%;
						display: flex;
						flex-direction: column;
						
						.left-top-container{
							height: 60%;
							display: flex;
							justify-content: center;
							align-items: center;

							.message{
								font-size: 20px;
								width: 90%;
							}
						}

						.amount-container{
							flex: 1;
							display: flex;
							align-items: center;
							justify-content: center;

							.amount{
								color: #6666C5;
								font-size: 24px;
								border-bottom: 1px solid;
							}
						}
					}

					.right-container{
						flex: 1;
						display: flex;
						flex-direction: column;
												
						.image-top-container{
							height: 50%;
							display: flex;
							justify-content: center;
							align-items: center;

							.exclamation{
								width: 4rem;
							}
						}

						.button-container{
							flex: 1;
							display: flex;
							justify-content: center;
							align-items: center;

							.button{
								background: #FF6B6B;
								color: white;
								height: 3rem;
								width: 80%;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 8px;
								font-size: 20px;
							}
						}
					}
				}

				.image-condo-container{
					width: 100%;
					height: 7em;

					.image-condo-carousel{
						width: 100%;
						height: 100%;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(../assets/imgs/condo1.jpg);
						display: flex;
						align-items: flex-end;

						.name-condo-carousel{
							color: white;
							text-transform: uppercase;
							text-shadow: 1px 1px 2px rgb(19, 19, 19);
							margin-left: 8px;
							margin-bottom: 8px,
						}
					}

					.text-carousel-container{
						display: flex;
						width: 100%;
						height: 80%;

						.info-container{
							display: flex;
							flex-direction: column;
							justify-content: center;
							width: 60%;

							.address-info-container{
							    width: 95%;
							    margin-left: 5%;
								display: flex;
								align-items: center;

								.icon-address{
									height: 25px;
									width: 25px;
									margin-right: 3px;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
									background-image: url(../assets/imgs/sign-post.svg);
								}

								.address-text{
									width: 80%;
									text-align: left;
									color: $obscure-purple;
								}
							}

							.apartment-info-container{
							    margin-left: 5%;
								margin-top: 5%;
								display: flex;
								align-items: center;

								.icon-apartment{
									height: 25px;
									width: 25px;
									margin-right: 3px;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
									background-image: url(../assets/imgs/door.svg);
								}

								.apartment-text{
									width: 80%;
									text-align: left;
									color: $obscure-purple;
								}
							}
						}

						.button-explore-container{
						    display: flex;
							justify-content: center;
							align-items: center;
							width: 40%;

							.button-explore{
							  color: white;
								width: auto;
								padding: 6px;
								border-radius: 5px;
								background: $light-orange;
								box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
							}
						}
					}
				}
		    }
		}

	}

	.options-container{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 50%;
	    width: 100%;

	    .button-container{
			width: 6em;
			height: 6em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.image-button-container{
				height: 5rem;
				width: 4rem;
				margin-bottom: 2px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

		    .visits{
				background-image: url(../assets/imgs/visits.svg);
		    }

		    .complaints{
		    	background-image: url(../assets/imgs/pipes.svg);
		    }

		    .package{
		    	background-image: url(../assets/imgs/package.svg);
		    }

		    .blackboard{
		    	background-image: url(../assets/imgs/blackboard.svg);
		    }

		    .text-button-container{
				text-transform: uppercase;
				color: white;
		    }
	    }

	    .options-left-container{
			border-right: 1px solid white;
		    height: 85%;
		    width: 50%;
		    display: flex;
		    flex-direction: column;
		    align-items: flex-end;

		    .visits-button-container{
				height: calc(50% - 1px);
			    width: 80%;
			    border-bottom: 1px solid white;
		        display: flex;
			    justify-content: center;
			    align-items: center;
		    }

		    .complaints-button-container{
				height: 50%;
    			width: 80%;
    			display: flex;
    			justify-content: center;
    			align-items: center;
		    }
	    }

	    .options-right-container{
			height: 90%;
		    width: 50%;
		    display: flex;
    		flex-direction: column;

		    .packages-button-container{
				height: calc(50% - 1px);
			    width: 80%;
			    border-bottom: 1px solid white;
			    display: flex;
    			justify-content: center;
    			align-items: center;
		    }

		    .blackboard-button-container{
				width: 80%;
				height: 50%;
				display: flex;
    			justify-content: center;
    			align-items: center;
		    }
	    }
	}

	.photo-condominio-page-container{
		width: 100%;
    	height: 8rem;

		.photo-condominio-page{
			width: 100%;
			height: 100%;
			background-image: url(../assets/imgs/condo1.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.gradient-container{
		position: absolute;
		top: calc(0px + 5.2rem);
		width: 100%;
		height: 3rem;
	}

	.info-condominio-page{
		width: 100%;
		height: calc(100% - 8.0rem);
		background-color: $white;
	}

}

.custom-modal-visits{
	width: 85%;
	height: 90%;
	padding: 1.2rem;

	.wizard-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;

		.progress-container{
    		height: 2rem;
		}

		.message-wizard{
			flex: 1;
			display: flex;
			align-items: center;
			font-size: 27px;
			flex-direction: column;
    		justify-content: space-evenly;

    		.icon-community-container{
    			display: flex;
				align-items: center;
				justify-content: center;

				.icon-community{
					width: 7rem;
				}
    		}

    		.input-car-container{
    			display: flex;
				flex-direction: row;
				width: 100%;
				justify-content: center;
				transform: scale(1.2);

				.less-button-container{
					width: 2rem;
					height: 2rem;

					.less-button{
						height: 2rem;
						width: 2rem;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(../assets/imgs/minus-button.svg);
					}
				}

				.input-car-visits{
					width: 4rem;
					height: 2rem;
					font-size: 30px;
					text-align: center;
					margin-right: 5px;
					margin-left: 5px;

				}

				.more-button-container{
					width: 2rem;
					height: 2rem;

					.more-button{
						height: 2rem;
						width: 2rem;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(../assets/imgs/plus-button.svg);
					}
				}
    		}

    		.car-cards-list{
    			width: 95%;
				height: 100%;
				overflow: scroll;

				.car-form-card{
					font-size: 17px;
					border: 1px solid #8c3854;
					border-radius: 5px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				    margin-bottom: 1rem;
					margin-top: 1rem;
					flex-shrink: 0;

					.car-form-line:last-child{
						margin-bottom:8px;
					}

					.car-form-line{
					    width: 90%;
    					margin-top: 8px;

						.title-input-car-form{
							margin-bottom: 5px;
							color: #B9929F;
						}

						.car-input-class{
							border: 1px solid grey;
							padding: 5px;
							font-size: 17px;
						}
					}
	    		}
    		}

    		.check-cards-container{
    			width: 100%;
				height: 75%;
				display: flex;
				flex-direction: column;
				align-items: center;
				overflow: scroll;

				.check-car-card{
					width: 90%;
					height: 6rem;
					display: flex;
					flex-shrink: 0;
				    border: 1px solid gray;
					margin-bottom: 5px;
					border-radius: 5px;
					
					.left-container{
						width: 25%;
					    display: flex;
	    				align-items: center;
    					justify-content: center;
    					border-right: 1px solid #d6d6d6;

						.icon-container{
							width: 3rem;
							height: 3rem;

							.icon-car{
								height: 3rem;
								width: 3rem;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(../assets/imgs/car.svg);
							}

							.icon-person{
								height: 3rem;
								width: 3rem;
								background-size: contain;
								background-position: center;
								background-repeat: no-repeat;
								background-image: url(../assets/imgs/walking.svg);
							}
						}
					}

					.right-container{
					    flex: 1;
						font-size: 20px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						.line{
							width: 90%;
							height: 30%;
							display: flex;
							align-items: center;
						}
					}
				}
    		}
		}

		.next-button-container{
			height: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;

			.next-button{
				width: 50%;
				height: 3rem;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;
			    background: #B9929F;
				color: white;
				border: 1px solid #b18292;
				box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
			}
		}
	}
}

.custom-modal-copropietary{
	height: 70%;
	width: 80%;

	.first-content-modal{
		width: 100%;
    	height: 100%;
    	display: flex;
	    flex-direction: column;
	    justify-content: center;

		.title-container{
			width: 100%;
		    height: 5rem;
		    display: flex;

			.title{
				font-size: 25px;
			}

			.subtitle{
				font-size: 22px;
				text-align: center;
			}
		}

		.line{
			width: 100%;
		    display: flex;
		    height: 2.5rem;
		    align-items: center;

		    .static{
	    	    width: 35%;
    			color: #6666C5;
		    }

		    .dynamic{
		    	width: 65%;
		    }
		}

		.image-container{
			width: 100%;
		    height: 11rem;
		    display: flex;
		    justify-content: center;
		    align-items: center;

		    .image{
		    	width: 7rem;
		    }
		}

		.buttons-container{
			height: 5rem;
		    width: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: space-around;

		    .button{
	    	    background: #FF6B6B;
				color: white;
				height: 3rem;
				width: 45%;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				font-size: 18px;
				text-align: center;
				box-shadow: 0px 9px 7px -7px #8e8e8e;
		    }
		}
	}

	.second-content-modal{
		width: 100%;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

	    .title-container{
	    	height: auto;
    		margin-bottom: 5px;

    		.title{
    			font-size: 22px;
    		}
	    }

	    .sub-title-container{
	    	height: auto;
    		margin-bottom: 10px;

    		.sub-title{
    			font-size: 17px;
    		}
	    }

	    .content-container{
	    	min-height: 10rem;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;

		    .one-line-form{

		    	.static{
		    		margin-bottom: 5px;
		    	}

		    	.input-form{
	    		    width: 96%;
				    height: 1rem;
				    font-size: 14px;
				    padding-top: 5px;
				    border: 1px solid #c5c5c5;
				    padding-bottom: 5px;
				    padding-left: 5px;
		    	}
		    }
	    }

	    .button-container{
	    	height: 5rem;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		    .button{
		    	background: #FF6B6B;
			    color: white;
			    height: 3rem;
			    width: 45%;
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-pack: center;
			    justify-content: center;
			    -ms-flex-align: center;
			    align-items: center;
			    border-radius: 5px;
			    font-size: 18px;
			    text-align: center;
			    box-shadow: 0px 9px 7px -7px #8e8e8e;
		    }
	    }
	}
}