.package-card-list{
    width: 100%;
    height: calc(100% - 15px);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card{
		width: 90%;
		height: 7rem;
		display: flex;
		box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

		.date-container{
			background: #292945;
			width: 7rem;
			display: flex;
    		flex-direction: column;

    		.month-container{
  				height: 1.5em;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 18px;
				background: #292945;
    		}

    		.day-container{
  				height: 2.2em;
  				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 27px;
				border: none;
				color: white;
				background-color: #333359;
    		}

    		.year-container{
  				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-size: 20px;
				background: #292945;
    		}
		}

		.info-container{
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1;

			.package-state-container{
				width: 90%;
				height: 2rem;
				display: flex;
				align-items: center;

				.package-state{
					font-size: 22px;
					color: #FF6B6B;
				}
			}

			.description-container{
			    width: 90%;
    			max-height: 2.7rem;
			    min-height: 1.5rem;
				display: flex;
				align-items: center;

				.description{
				    color: #4c4c4c;
    				text-align: justify;
				}
			}

			.arrived-info-container{
				width: 90%;
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				color: #4c4c4c;

				.received-name-container{

					.received-title{

					}

					.received-name{

						.icon-container{
							width: 1rem;
							display: inline-block;
							margin-right: 5px;

							.icon{
							    width: 1rem;
							}
						}

						.name{
						    display: inline-block;
						}
					}
				}
			}
		}
    }

    .card:not(:last-child){
    	margin-bottom: 1.5rem;
    }
}