.button-login {
	background: $light-orange;
  color: white;
  font-weight: bold;
  width: 9rem;
  height: 2.5rem;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;

  &.disabled {
    background: $gray;
    transition: background 0.5s;
  }
}
