.input-container {
  height: 2rem;
  background-color: white;
  border-radius: 5px;
  width: 70%;
  display: flex;
  align-items: center;
  padding: 5px;

  .input-icon {
    height: 25px;
    width: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  .input {
    flex: 1;
    height: 1rem;
    font-size: 15px;
    color: #3c3c3c;
  }
}

.form-container{
  
  h2{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .input-form{
    width: 95%;
    height: 1rem;
    font-size: 13px;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #c5c5c5;
    margin-bottom: 5px;
  }

  .input-form-submit{
    width: 50%;
    height: 2rem;
    font-size: 13px;
    padding: 3px;
    background: #c1946a;
    color: white;
    border-style: none;
    float: right;
    margin-right: 5px;
    border-radius: 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

  .danger-button{
    width: 50%;
    height: 2rem;
    font-size: 13px;
    padding: 3px;
    background: #c16a6a;
    color: white;
    border-style: none;
    float: right;
    margin-right: 5px;
    border-radius: 0px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }

}
