.views-admin-container{
	width: 100%;
    height: 100%;
    background: white;

    .tab-admin-copro-content{
    	height: 2rem;
		display: flex;
		background: #292945;

		.tab-icon{
			color: #bbbbbb;
			font-size: 14px;
			flex: 1;
		}

		.admin-copro-tab-active{
			color: white;
		}
    }

    .content-admin-copro-view{
    	height: calc(100% - 2rem);
    	flex: 1;

    	> div {
    		width: 100%;

			&.admin-copro-view-active{
				display: flex;
				height: 100%;

				.info-tab-condo{
			    	width: 100%;
					height: calc(100% - 10px);
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 10px;

					.refresh-button-container{
						width: 90%;
						height: 2.5rem;
						display: flex;
						justify-content: center;
						align-items: center;

						.refresh-button{
							background: #6666C5;
							color: white;
							height: 1.8rem;
							width: 60%;
							display: flex;
							justify-content: space-evenly;
							align-items: center;
							border-radius: 5px;
							-webkit-transition-duration: 1s;
							transition-duration: 1s;

							.refresh{
								width: 1rem;
							}
						}

						.refresh-button:active{
							background: #686881;
							-webkit-transition-duration: 1s;
							transition-duration: 1s;
						}
					}

					.message-empty-container{
						width: 90%;
						display: flex;
						justify-content: center;
						max-height: 10rem;
						align-items: center;
						height: 8rem;

						.message{
							color: gray;
						}
					}

					.add-payments-month-button{
						position: absolute;
						background: #EC4848;
						width: 3.3rem;
						height: 3.3rem;
						border-radius: 30px;
						bottom: 4rem;
						right: 1.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						-webkit-box-shadow: 0px 9px 12px -4px #8e8e8e;
						-moz-box-shadow: 0px 9px 12px -4px #8e8e8e;
						box-shadow: 0px 9px 12px -4px #8e8e8e;

						.add-icon{
							width: 2rem;
						}

					}

					.not-published-payments-container{
						width: 100%;
						min-height: 10rem;
						max-height: 10rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						overflow: scroll;
						border-bottom: 1px dotted rgb(202, 202, 202);

						.actual-month-container{
							width: 90%;
							display: flex;
							flex-direction: column;
							border: 1px solid rgb(185, 185, 185);
							height: 6rem;

							.top-container{
								height: 35%;
								background: #333359;
								display: flex;
								align-items: center;

								.year-container{
									display: flex;
									width: 80%;
									justify-content: center;

									.year{
										width: 90%;
										color: white;
									}
								}

								.edit-container{
									flex: 1;
									display: flex;
									justify-content: center;

									.edit-icon{
										width: 1.5rem;
										height: 1.5rem;
										background-size: contain;
										background-position: center;
										background-repeat: no-repeat;
										background-image: url(../assets/imgs/edit-icon.svg);
									}
								}
							}

							.middle-container{
								height: 40%;
								display: flex;
								justify-content: center;
								align-items: center;

								.month-container{

									.month{
										font-size: 25px;
									}
								}
							}


							.bottom-container{
								flex: 1;
								display: flex;
								justify-content: flex-end;

								.amount-container{
									width: 25%;

									.amount{
										color: #4c4c4c;
									}
								}
							}
						}
					}

					.published-payments-container{
						width: 100%;
						min-height: 8rem;
						max-height: 18rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						overflow: scroll;
						justify-content: center;

						.actual-month-container{
							width: 90%;
							display: flex;
							flex-direction: column;
							border: 1px solid rgb(185, 185, 185);
							height: 6rem;

							.top-container{
								height: 35%;
								background: #333359;
								display: flex;
								align-items: center;

								.year-container{
									display: flex;
									width: 80%;
									justify-content: center;

									.year{
										width: 90%;
										color: white;
									}
								}

								.edit-container{
									flex: 1;
									display: flex;
									justify-content: center;

									.more-info-icon{
										width: 1.5rem;
										height: 1.5rem;
										background-size: contain;
										background-position: center;
										background-repeat: no-repeat;
										background-image: url(../assets/imgs/ellipsis.svg);
									}
								}
							}

							.middle-container{
								height: 40%;
								display: flex;
								justify-content: center;
								align-items: center;

								.month-container{

									.month{
										font-size: 25px;
									}
								}
							}


							.bottom-container{
								flex: 1;
								display: flex;
								justify-content: flex-end;

								.amount-container{
									width: 25%;

									.amount{
										color: #4c4c4c;
									}
								}
							}
						}
					}

					.add-copropietaries-button{
						position: absolute;
						background: #EC4848;
						width: 3.3rem;
						height: 3.3rem;
						border-radius: 30px;
						bottom: 4rem;
						right: 1.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						-webkit-box-shadow: 0px 9px 12px -4px #8e8e8e;
						-moz-box-shadow: 0px 9px 12px -4px #8e8e8e;
						box-shadow: 0px 9px 12px -4px #8e8e8e;

						.add-icon{
							width: 2rem;
						}
					}

					.copropietaries-card-container{
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						overflow: scroll;

						.copropietary-card{
						    width: 90%;
							margin-bottom: 11px;
							box-shadow: 0 1px 5px 1px rgba(0,0,0,0.20);
						    border-top-left-radius: 5px;
							border-top-right-radius: 5px;

							.top-container{
								height: 2.5rem;
								background: #292945;
								display: flex;
							    border-top-left-radius: 5px;
								border-top-right-radius: 5px;

								.icon-container{
									width: 3rem;
								    display: flex;
									justify-content: center;
									align-items: center;

									.icon{
										width: 2rem;
										height: 2rem;
										background-size: contain;
										background-position: center;
										background-repeat: no-repeat;
										background-image: url(../assets/imgs/user-placeholder.svg);
									}
								}

								.name-container{
									flex: 1;
									display: flex;
									justify-content: center;
									align-items: center;

									.name{
										width: 98%;
										color: white;
									}
								}
							}

							.body-container{
								background: white;
								min-height: 7rem;
								display: flex;

								.left-container{
									width: 60%;

									.info-container{
										width: 100%;
										height: 100%;
										display: flex;
										flex-direction: column;
										justify-content: center;
										align-items: center;

										.line-container{
											width: 90%;
											display: flex;

											.left-line-container{
												width: 17%;
												display: flex;
												justify-content: center;
												align-items: center;

												.rut-icon{
													width: 1.5rem;
													height: 1.5rem;
													background-size: contain;
													background-position: center;
													background-repeat: no-repeat;
													background-image: url(../assets/imgs/id-card.svg);
												}

												.email-icon{
													width: 1.5rem;
													height: 1.5rem;
													background-size: contain;
													background-position: center;
													background-repeat: no-repeat;
													background-image: url(../assets/imgs/email.svg);
												}

												.appartment-icon{
													width: 1.5rem;
													height: 1.5rem;
													background-size: contain;
													background-position: center;
													background-repeat: no-repeat;
													background-image: url(../assets/imgs/door.svg);
												}
											}

											.right-line-container{
												flex: 1;
												display: flex;
												justify-content: center;
												align-items: center;

												.text-container{
													width: 95%;
													font-size: 13px;
												}
											}
										}
									}
								}

								.right-container{
									flex: 1;
									display: flex;
									flex-direction: column;

									.right-top-container{
										height: 60%;
										display: flex;
										justify-content: space-evenly;
										align-items: center;

										.line-container{
											display: flex;
											width: 40%;
											justify-content: space-around;
											align-items: center;

											.left-line-container{

												.parking-icon{
													width: 2rem;
													height: 2rem;
													background-size: contain;
													background-position: center;
													background-repeat: no-repeat;
													background-image: url(../assets/imgs/parking-icon.svg);
												}

												.storage-icon{
													width: 2rem;
													height: 2rem;
													background-size: contain;
													background-position: center;
													background-repeat: no-repeat;
													background-image: url(../assets/imgs/storage-icon.svg);
												}
											}

											.right-line-container{

												.text-container{

												}
											}
										}
									}

									.right-bottom-container{
										flex: 1;
										display: flex;
										justify-content: space-around;

										.more-info-button{
											background: #686881;
											width: 1.5rem;
											height: 1.5rem;
											display: flex;
											justify-content: center;
											align-items: center;
											border-radius: 16px;

											.more-info-icon{
												width: 1rem;
												height: 1rem;
												background-size: contain;
												background-position: center;
												background-repeat: no-repeat;
												background-image: url(../assets/imgs/information-symbol.svg);
											}
										}
									}
								}
							}
						}
					}
			    }

			    .custom-modal-add-charge{
			    	width: 50%;
			    	height: 50%;
			    }
			}

			&.admin-copro-view-inactive{
				display: none;
			    height: 100%;
			}
    	}
    }
}