.views-condo-container{
	width: 100%;
    height: 100%;

	.content-condo-view {
		background-color: $white;
		height: 100%;

		> div {
			width: 100%;
			height: calc(100% - 2rem);

			&.condo-view-active {
				display: flex;
			}

			&.condo-view-inactive {
				display: none;
			}

			.info-tab-condo{
				width: 100%;
				display: flex;
				justify-content: center;
				margin-top: 10px;

				.condo-info-container{
					width: 90%;
					height: 100%;

					.cards-container{
						width: 100%;
					    height: 100%;
					    overflow: scroll;
					    display: flex;
					    flex-direction: column;
					    align-items: center;

					    .house-card{
				    	    width: 95%;
						    display: flex;
						    height: 11rem;
						    background: white;
					        border-radius: 6px;
					        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
					        flex-shrink: 0;

						    .left-container{
						    	width: 25%;
							    display: flex;
							    justify-content: center;
							    align-items: center;

							    .house{
							    	width: 3rem;
							    }
						    }

						    .right-container{
					    	    flex: 1;
							    display: flex;
							    flex-direction: column;
							    align-items: center;
							    justify-content: center;

							    .line-container{
							    	width: 100%;
								    height: 2.5rem;
								    display: flex;
								    flex-direction: column;
								    justify-content: center;

								    .static-container{
								    	font-size: 17px;
								    	color: #6666C5;
								    }

								    .dynamic-container{
								    	font-size: 14px;
								    }
							    }
						    }
					    }

					    .parking-card{
					    	width: 95%;
						    display: flex;
						    height: 9rem;
						    background: white;
						    border-radius: 6px;
						    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
						    flex-shrink: 0;
						    margin-top: 2rem;

						    .left-container{
								width: 25%;
							    display: flex;
							    justify-content: center;
							    align-items: center;

							    .parking{
							    	width: 3rem;
							    }
						    }

						    .right-container{
								flex: 1;
							    display: flex;
							    flex-direction: column;
							    align-items: center;
							    justify-content: center;

							    .line-container{
							    	width: 100%;
								    height: 2.5rem;
								    display: flex;
								    flex-direction: column;
								    justify-content: center;

								    .static-container{
								    	font-size: 17px;
								    	color: #6666C5;
								    }

								    .dynamic-container{
								    	font-size: 14px;
								    }
							    }
						    }
					    }

					    .storage-card{
					    	width: 95%;
						    display: flex;
						    height: 9rem;
						    background: white;
						    border-radius: 6px;
						    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
						    flex-shrink: 0;
						    margin-top: 2rem;

						    .left-container{
								width: 25%;
							    display: flex;
							    justify-content: center;
							    align-items: center;

							    .storage{
							    	width: 3rem;
							    }
						    }

						    .right-container{
								flex: 1;
							    display: flex;
							    flex-direction: column;
							    align-items: center;
							    justify-content: center;

							    .line-container{
							    	width: 100%;
								    height: 2.5rem;
								    display: flex;
								    flex-direction: column;
								    justify-content: center;

								    .static-container{
								    	font-size: 17px;
								    	color: #6666C5;
								    }

								    .dynamic-container{
								    	font-size: 14px;
								    }
							    }
						    }
					    }

					    .storage-card:last-child{
					    	margin-bottom: 1rem;
					    }
					}

					.staff-cards-list{
					    display: flex;
						flex-direction: column;
						align-items: center;
						height: 100%;
						overflow: scroll;

						.card:not(:last-child){
					    	margin-bottom: 2rem;
					    }

					    .card:last-child{
					    	margin-bottom: 1rem;
					    }

						.card{
						    width: 90%;
							background: white;
							padding: 5px;
							border-radius: 5px;
							height: auto;
							display: flex;
							flex-direction: row;
							flex-shrink: 0;
							box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

							.image-container{
								width: 3rem;
								height: 3rem;
								display: flex;
								justify-content: center;
								align-items: center;

								.image{
									width: 2rem;
									height: 2rem;
									margin-right: 5px;
									background-size: contain;
									background-position: center;
									background-repeat: no-repeat;
									background-image: url(../assets/imgs/user-placeholder.svg);
								}
							}

							.staff-info-container{
								height: auto;
								display: flex;
								flex-direction: column;
								justify-content: center;

								.staff-info-line{
									display: flex;
									flex-direction: row;

									.static-info{
										color: #B9929F;
										margin-right: 3px;
									}
								}

								.staff-info-line:not(:last-child){
							    	margin-bottom: 5px;
							    }
							}
						}
					}

					.rules-container{
						width: 100%;
						background: white;
						border-radius: 5px;
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 90%;
						box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);

						.rules-title-container{
							width: 100%;
							height: 4rem;
							display: flex;
							justify-content: center;
							align-items: center;

							.title{
								font-size: 20px;
								font-weight: bold;
							    color: $light-purple;
							}
						}

						.rules-info{
							width: 90%;
							height: 80%;
							display: flex;
							flex-direction: column;
							justify-content: space-evenly;

							.message{
								text-align: justify;
								line-height: 1.25rem;
							}

							.download-container{
								border-radius: 10px;
								height: 3rem;
								background-color: $light-orange;
								width: 99%;
								display: flex;
								justify-content: center;
								align-items: center;
								color: white;
							}
						}
					}
				}
			}
		}


	}

    .tab-condo-content{
		height: 2rem;
		display: flex;

		.tab-icon{
			color: #bbbbbb;
			font-size: 14px;
			flex: 1;
		}

			.condo-tab-active{
				color: $dark-purple;
				font-weight: bold;
				border-bottom: 2px solid $dark-purple;
			}
    }
}