.tab-copro-notification-content{
	height: 2.5rem;
	display: flex;
	background: $white;

	.tab-icon{
		color: #bbbbbb;
		font-size: 14px;
		flex: 1;
	}

	.copro-notification-tab-active{
		color: $dark-purple;
		border-bottom: 2px solid $dark-purple;
		font-weight: bold;
	}
}

.content-copro-notification-view{
	height: calc(100% - 2rem - 10px);
	flex: 1;

	> div {
		width: 100%;

		&.copro-notification-view-active{
			display: flex;
			height: 100%;

			.info-tab-condo{
				background-color: $white;
		    	width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				.notifications-container{
					width: 100%;
				    height: 90%;
				    overflow: scroll;
				    display: flex;
				    flex-direction: column;
				    align-items: center;

				    .notification-container{
				    	width: 90%;
					    background: white;
					    border-radius: 6px;
					    min-height: 4rem;
					    display: flex;
					    flex-direction: column;
					    justify-content: center;
					    align-items: center;
					    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
					    margin-bottom: 1rem;

					    .title{
				    	    color: #6666C5;
    						font-size: 17px;
    						height: 1rem;
					    }

					    .message{
					    	font-size: 14px;
				    	    width: 90%;
    						text-align: center;
    						height: 2rem;
    						display: flex;
						    justify-content: center;
						    align-items: center;
					    }

					    .date{
					    	height: 1rem;
						    font-size: 10px;
						    color: gray;
					    }
				    }
				}
			}
		}

		&.copro-notification-view-inactive{
			display: none;
		    height: 100%;
		}

		.info-tab-condo{
			width: 100%;
			display: flex;
			justify-content: center;

			.news-cards-container{
			    width: 90%;
			    height: 100%;
			    overflow: scroll;
			    display: flex;
			    flex-direction: column;
			    align-items: center;

			    .news-card{
					width: 90%;
					height: auto;
					flex-shrink: 0;
					margin-bottom: 20px;
					box-shadow: 0px 4px 6px rgba(0, 15, 18, 0.2);
					border-top-left-radius: 10px;
					border-bottom-right-radius: 10px;

					.title-container{
						height: 3.5rem;
						background: #292945;
						display: flex;
						justify-content: center;
						align-items: center;
						border-top-left-radius: 10px;

						.title{
							color: white;
							width: 90%;
							font-size: 20px;
						}
					}

					.image-container {
						width: 100%;
						height: 5rem;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(../assets/imgs/news-placeholder.jpeg);
					}

					.message-container {
						display: flex;
						justify-content: center;
						align-items: center;
						margin-top: 10px;
						margin-bottom: 10px;

						.message {
							width: 90%;
							text-align: justify;
							color: #4c4c4c;
						}
					}

					.date-container{
						height: 1.5rem;
						display: flex;
						align-items: center;
						justify-content: center;

						.date{
							width: 90%;
							text-align: right;
							font-size: 14px;
							color: #4c4c4c;
							font-style: italic;
						}
					}

					.trash-container{
						display: flex;
						align-items: center;
						width: 2rem;
						margin-left: 0.6rem;
						height: 2rem;

						.trash{
							width: 1.5rem;
							height: 1.5rem;
						}
					}
				}
			}
		}
	}	
}