.tab-admin-notification-content{
	height: 2rem;
	display: flex;
	background: #292945;

	.tab-icon{
		color: #bbbbbb;
		font-size: 14px;
		flex: 1;
	}

	.admin-notification-tab-active{
		color: white;
	}
}

.content-admin-notification-view{
	height: calc(100% - 2rem);
	flex: 1;

	> div {
		width: 100%;

		&.admin-notification-view-active{
			display: flex;
			height: 100%;

			.info-tab-condo{
		    	width: 100%;
				height: calc(100% - 10px);
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 10px;

				.payed-user-payments-container{
					width: 100%;
				    height: 100%;
				    overflow: scroll;
				    display: flex;
				    flex-direction: column;
				    align-items: center;

				    .text{
			    	    width: 90%;
					    margin-bottom: 5px;
					    text-align: center;
					    font-size: 15px;
					    color: #4c4c4c;
				    }

				    .no-payed-user-payments{
				    	width: 90%;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    height: 40%;

					    .text{
					    	background: #6666C5;
						    color: white;
						    height: 2.8rem;
						    width: 80%;
						    display: -ms-flexbox;
						    display: flex;
						    -ms-flex-pack: space-evenly;
						    justify-content: space-evenly;
						    -ms-flex-align: center;
						    align-items: center;
						    border-radius: 5px;
					    }
				    }

				    .payed-user-payment-card{
				    	flex-shrink: 0;
					    width: 85%;
					    display: flex;
					    flex-direction: column;
					    height: 10rem;
					    border: 1px solid gainsboro;
    					box-shadow: -3px 9px 13px -9px #8e8e8e;

					    .top-container{
					    	min-height: 3rem;
						    display: flex;
						    flex-direction: column;
						    align-items: center;
						    background: #292945;
						    justify-content: center;

						    .name-container{
						    	color: white;
							    font-size: 18px;
							    text-align: center;
						    }

						    .rut-container{
					    	    color: white;
								font-size: 13px;
						    }
					    }

					    .body-container{
					    	display: flex;
						    flex-direction: column;
						    align-items: center;
						    height: 4rem;
						    justify-content: center;

						    .amount-container{
						    	display: flex;
							    width: 100%;
							    justify-content: center;
							    height: 2rem;
							    align-items: center;

							    .static{
						    	    width: 40%;
								    font-size: 17px;
								    color: #6666C5;
							    }

							    .amount{
							    	font-size: 20px;
							    }
						    }

						    .transfer-code-container{
						    	display: flex;
							    width: 100%;
							    justify-content: center;

							    .static{
									width: 40%;
    								color: #6666C5;
							    }
						    }
					    }

					    .buttons-container{
					    	flex: 1;
						    display: flex;
						    justify-content: space-evenly;
						    align-items: center;

						    .button{
								justify-content: center;
							    background: #FF6B6B;
							    width: 30%;
							    color: white;
							    display: flex;
							    align-items: center;
							    height: 2rem;
							    border-radius: 10px;
						        box-shadow: 0px 9px 12px -9px #8e8e8e;
						    }
					    }
				    }
				}

				.employees-cards-container{
					overflow: scroll;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.employee-card{
						width: 82%;
						height: auto;
						flex-shrink: 0;
						margin-bottom: 10px;
						box-shadow: 0 1px 5px 1px rgba(0,0,0,0.20);

						.top-container{
							height: 3rem;
							background: #333359;
							display: flex;
							align-items: center;

							.image-container{
								width: 4rem;
								height: 3rem;
								display: flex;
								justify-content: center;
								align-items: center;

								.image{
									width: 2.4rem;
								}
							}

							.name-container{
							    height: 100%;
								display: flex;
								align-items: center;
								flex: 1;
								.name{
									color: white;
								}
							}

							.trash-container{
								width: 3rem;
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;

								.trash{
									width: 1.7rem;
								}
							}
						}

						.info-container{
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							.info-line{
								width: 90%;
								display: flex;
								flex-direction: column;
								height: 3rem;
								justify-content: center;
								align-items: center;

								.text{
									font-size: 14px;
	    							color: #686881;
								}

								.dynamic-text{
									color: #4c4c4c;
								}
							}
						}
					}
				}

				.add-button{
					position: absolute;
					background: #EC4848;
					width: 3.3rem;
					height: 3.3rem;
					border-radius: 30px;
					bottom: 4rem;
					right: 1.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-box-shadow: 0px 9px 12px -4px #8e8e8e;
					-moz-box-shadow: 0px 9px 12px -4px #8e8e8e;
					box-shadow: 0px 9px 12px -4px #8e8e8e;

					.add-icon{
						width: 2rem;
					}

				}

				.storage-cards-container{
					overflow: scroll;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.title{
						margin-bottom:10px;
					}

					.settings-type-card{
						width: 90%;
						min-height: 5.5rem;
						margin-bottom: 10px;
						display: flex;
						flex-direction: column;
						box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
						flex-shrink: 0;

						.top-container{
							background: #333359;
							height: 2.5rem;
							display: flex;

							.name-container{
							    width: 80%;
								display: flex;
								justify-content: center;
								align-items: center;

								.name{
									width: 90%;
									color: white;
									font-size: 20px;
								}
							}

							.trash-container{
								flex: 1;
								display: flex;
								align-items: center;
								justify-content: center;

								.trash{
									width: 1.5rem;
								}
							}
						}

						.body-container{
							flex: 1;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;

							.description-container{
							    width: 90%;
								display: flex;
								justify-content: center;

								.description{
									color: #4c4c4c;
								}
							}

							.price-container{
							    width: 90%;
							    display: flex;
							    justify-content: center;

								.price{
									color: #4c4c4c;
									font-size: 17px;
								}
							}
						}
					}
				}
			}
		}

		&.admin-notification-view-inactive{
			display: none;
		    height: 100%;
		}
	}	
}