$tab-bar-height: 3.5rem;
$status-bar-height: 20px;
$top-bar-height: 3rem;

$body-height: calc(100vh - #{$status-bar-height});

.views-container {
  background-color: $obscure-purple;
  height: $body-height;
  width: 100vw;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  .content-view {
    background-color: $white;
    height: calc(100vh - #{$status-bar-height} - #{$tab-bar-height} - #{$top-bar-height});

    > div {
      width: 100%;
      height: 100%;

      &.active {
        display: flex;
      }

      &.inactive {
        display: none;
      }
    }
  }

  .tab-content {
    background-color: $obscure-purple;
    height: $tab-bar-height;
    display: flex;

    .tab-icon {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &.active {
        background-color: lighten($obscure-purple, 9%);
      }
    }

    .icon {
      height: 2rem;
      width: 2rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .icon-text {
      color: $white;
      font-family: 'Roboto', sans-serif;
      display: none;
    }

    .condo-icon {
      background-image: url(../assets/imgs/house-indo-admin.svg);
    }

    .account-icon {
      background-image: url(../assets/imgs/users.png);
    }

    .home-condo-icon-admin{
      color: white;
      background-image: url(../assets/imgs/web-page-home.svg);
    }

    .copropietaries-icon-admin{
      background-image: url(../assets/imgs/group.svg);
    }

    .payments-icon-admin{
      background-image: url(../assets/imgs/salary.svg);
    }

    .notifications-icon-admin{
      background-image: url(../assets/imgs/notifications.svg);
    }

    .news-icon-admin{
      background-image: url(../assets/imgs/newspaper.svg);
    }

    .visits-icon-admin{
      background-image: url(../assets/imgs/car-white.svg);
    }

    .payments-icon-copropietary{
      background-image: url(../assets/imgs/payments.svg);
    }

    .condo-icon-copropietary{
      background-image: url(../assets/imgs/appartment.svg);
    }

    .notification-icon-copropietary{
      background-image: url(../assets/imgs/bell.svg);
    }

    .settings-icon-admin{
      background-image: url(../assets/imgs/gear.svg);
    }
  }

  .active {

  }

  .inactive {
  }
}

.custom-modal {
  width: 80%;
  paddin: 1.2rem;
}

.custom-modal-close{
  
}