.app-top-bar {
  background-color: $obscure-purple;
  height: 3rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.action {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-right: 0.75rem;
    margin-left: 0;
  }
}

.back-button {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../assets/imgs/chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.log-out {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../assets/imgs/logout.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
